nbformat
pandas
openai
python-dotenv
transformers
torch torchvision torchaudio --index-url https://download.pytorch.org/whl/cu118
tenacity
chromadb
langchain-openai
unstructured
langchain-community
"unstructured[md]"
